<div class="row mt-5">
<div class="col-md-4">
</div>
<div class="col-md-4 mt-5">

<div id="clearance" class="sign-in text-center">
  <h2><%= t(".title") %></h2>
</div>

</div>
<div class="col-md-4">
</div>
</div>


<%= render partial: '/sessions/form' %>